.curosel-img{
    object-fit: cover!important;
    object-fit: contain;
    height: 350px;
}
// $primary:#0d6efd;
@import '_bswvariables.scss';
$carousel-control-color: $primary;

@import 'bootstrap/scss/bootstrap';
@import "_bootswatch.scss";
// @import "../../node_modules/venobox/dist/venobox.css";